{% extends 'base.html' %}

{% block title %}OpenAI Applications{% endblock %}

{% block stylesheets %}
<style>
    .clickable-div {
        height: 200px; /* or any desired fixed height */
        width: 100%; /* to make it responsive */
        background-color: white; /* for visibility */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; /* to indicate it's clickable */
        border-radius: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4 mb-3 p-3 bg-light shadow rounded-2">
    This is a compilation of several applications of the OpenAI API. So far, there is MarkAI Essay Grader and DreamAI Dream Interpreter. More applications will be added in the future.
</div>
<div class="container">
    <div class="row">
        <div class="col m-2">
            <div class="clickable-div" onclick="window.location.href='{{ url_for('mark') }}'">
                <h3>MarkAI</h3>
            </div>
        </div>
        <div class="col clickable-div m-2" href="{{ url_for('dream') }}">
            <div class="clickable-div" onclick="window.location.href='{{ url_for('dream') }}'">
                <h3>DreamAI</h3>
            </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}